<section class="about section">
  <div class="section-inner">
    <h2 class="heading">Sobre mim</h2>
    <div class="content">
      <%= raw @user.about_me %>
    </div><!--//content-->
  </div><!--//section-inner-->                 
</section><!--//section-->